<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% for key in @node_info.keys %>
    <tr >
        <td><strong><%= key.gsub('_', ' ') %>:</strong></td>
        <td>
          <%= @node_info[key] %>
        </td>
    </tr>
    <% end %>
  </tbody>
  </table>