<!DOCTYPE html>
<html>
<head>
  <title>RedisNodeView</title>
  <%= stylesheet_link_tag    "redis_node_view/application", media: "all" %>
  <%= javascript_include_tag "redis_node_view/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
